/* CSS Variables */
:root {
  --background-color-1: #262c56;
  --background-color-2: #31386a;
  --background-color-3: #282e59;
  --scrollbar-backgroundcolor: #1e2240;
  --scrollbar-color-0: #9e07f7;
  --scrollbar-color-1: #8a02f5;
  --scrollbar-color-2: #e51aff;
  --scrollbar-color-hover-1: #6f00c5;
  --scrollbar-color-hover-2: #b213c7;

  --text-color: white;
  --shadow: black;

  --bordered-div-color-border: #353768;
  --bordered-div-color-1: #31386a;
  --bordered-div-color-2: #252d56;

  --important-div-color-border: #b107fc;
  --important-div-color-1: #8a02f5;
  --important-div-color-2: #e51aff;

  --purple-div-background: #1e2240;
  --purple-div-background2: #1e2240;
  --purple-div-border: #1f26875e;

  --orange-div-border: #f47e77;
  --orange-div-color-1: #fa729d;
  --orange-div-color-2: #ff984f;

  --primary-button-color-1: #00d0ff;
  --primary-button-color-2: #0074ff;

  --footer-background-1: #1e2240;
  --footer-background-2: #1e2240;
}

/* Default Color */
/* Main */
/* Background */
body,
html {
  padding: 0px;
  margin: 0px;

  background: linear-gradient(
    to top right,
    var(--background-color-1) 50%,
    var(--background-color-2),
    var(--background-color-3)
  );
  background-attachment: fixed;
}

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@font-face {
  font-family: "nevis Bold";
  font-style: normal;
  font-weight: normal;
  src: local("nevis Bold"), url("../Fonts/nevis.woff") format("woff");
}

* {
  font-family: "nevis Bold", "Roboto", "Arial";
}

/* Scrollbar */
/* Firefox */
html {
  scrollbar-color: var(--scrollbar-color-1) var(--scrollbar-backgroundcolor);
  scrollbar-width: thin;
}

/* Chromium */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-backgroundcolor);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    var(--scrollbar-color-1),
    var(--scrollbar-color-2)
  );
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    var(--scrollbar-color-hover-1),
    var(--scrollbar-color-hover-2)
  );
  cursor: pointer;
}

/* Div Styles */
.bordered-div {
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--bordered-div-color-border);

  background: linear-gradient(
    to right bottom,
    var(--bordered-div-color-1),
    var(--bordered-div-color-2)
  );
  color: var(--text-color);

  transition: 0.25s;
}

.bordered-div-movable:hover {
  transform: scale(0.85);
  border-color: var(--bordered-div-color-border);

  transition: 0.25s;
}

.important-bordered-div {
  background: linear-gradient(
    to right bottom,
    var(--important-div-color-1),
    var(--important-div-color-2)
  );
  -webkit-box-shadow: -3px 8px 20px 1px var(--important-div-color-border);
  -moz-box-shadow: -3px 8px 20px 1px var(--important-div-color-border);
  box-shadow: -3px 8px 20px 1px var(--important-div-color-border);

  border-width: 0px;
  border-style: none;
}

.bordered-div-purple {
  background: linear-gradient(
    to right bottom,
    var(--purple-div-background),
    var(--purple-div-background2)
  );
  box-shadow: 0 8px 32px 0 var(--purple-div-background);
  backdrop-filter: blur(4px);

  color: var(--text-color);
  border-radius: 10px;
}

.bordered-div-orange {
  background: linear-gradient(
    to right,
    var(--orange-div-color-1),
    var(--orange-div-color-2)
  );
  color: var(--text-color);
}

.app-title {
  background: linear-gradient(
    to right,
    var(--orange-div-color-1),
    var(--orange-div-color-2)
  );
  -webkit-box-shadow: -3px 8px 20px -6px var(--orange-div-border);
  -moz-box-shadow: -3px 8px 20px -6px var(--orange-div-border);
  box-shadow: -3px 8px 20px -6px var(--orange-div-border);

  color: var(--text-color);
  border-radius: 10px;
  font-size: 27px;

  text-align: center;

  padding-top: 30px;
  padding-bottom: 35px;
  height: 25px;
  width: 170px;
}

/* Buttons */
.primary-btn {
  display: flex;
  align-items: center;

  background-image: linear-gradient(
    to right,
    var(--primary-button-color-1),
    var(--primary-button-color-2)
  );
  color: var(--text-color);

  outline: none;
  border: none;

  border-radius: 10px;
  font-size: 20px;
  padding: 15px;

  transition: 0.25s;
  cursor: pointer;
}

.primary-btn:focus,
.primary-btn:hover {
  transform: scale(0.9);
}

.primary-btn p {
  margin: 0px;
  margin-right: 20px;
}

/* Text Styles */
purple-text {
  background-image: linear-gradient(
    to right,
    var(--important-div-color-1),
    var(--important-div-color-2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Icon Button */
.ico-btn {
  transition: 0.25s;
}

.ico-btn:hover {
  transform: scale(0.85);
}

/* Footer */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;

  background: linear-gradient(
    to right bottom,
    var(--footer-background-1),
    var(--footer-background-2)
  );
  box-shadow: 0 8px 32px 0 var(--shadow);
  backdrop-filter: blur(4px);
  color: var(--text-color);

  display: flex;
  flex-direction: row;
}

.footer img.logo {
  font-size: 25px;
  font-weight: bold;

  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.footer-text {
  padding-left: 20px;
}

.footer-text h1 {
  margin-bottom: 5px;
  margin-top: 15px;
}

.owner-statement {
  margin-bottom: 5px;
  margin-top: 0px;
}

.credits {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;

  color: var(--text-color);
  text-decoration: none;
  transition: 0.25s;
}

.credits:hover {
  background-image: linear-gradient(
    to right,
    var(--important-div-color-1),
    var(--important-div-color-2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.copyright {
  display: flex;
  flex-direction: row;
}

.copyright p {
  padding-right: 30px;
  margin-top: 0px;
}

.footer .social-media-logos img {
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.social-media-logos img {
  transition: 0.5s;
}

/* Header */
.header {
  -moz-box-shadow: 6px 6px 6px -6px var(--shadow);
  -webkit-box-shadow: 6px 6px 6px -6px var(--shadow);
  box-shadow: 6px 6px 6px -6px var(--shadow);
  color: var(--text-color);

  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;

  position: fixed;
  width: 100%;

  border-radius: 0px !important;
}

.menubar-holder,
.profile-holder {
  float: left;
  margin: 0px;
  width: 20%;

  display: flex;
  align-items: center;
}

.menubar-holder {
  width: 80%;
}

.menubar-holder i {
  font-size: 25px;
  margin-top: 2px;
  margin-left: 20px;
  margin-right: 20px;

  cursor: pointer;
}

.menubar-holder .softwaress-logo-holder {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: var(--text-color);

  margin-left: 10px;
}

.menubar-holder .softwaress-logo-holder p {
  font-weight: 900;
  font-size: 18px;
  margin: 0px;
  margin-left: 10px;
}

.menubar-holder .header-link {
  text-decoration: none;
  color: var(--text-color);

  margin-left: 20px;
  transition: 0.25s;
}

.menubar-holder .header-link:hover {
  background-image: linear-gradient(
    to right,
    var(--important-div-color-1),
    var(--important-div-color-2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.profile-holder {
  justify-content: flex-end;
}

.profile-holder img {
  border-radius: 100px;
  margin-right: 20px;
}

/* Responsiveness */
@media screen and (max-width: 630px) {
  .footer .logo {
    width: 20% !important;
    height: fit-content;
  }
  .copyright {
    flex-direction: column;
  }

  .softwaress-logo-holder p {
    display: none;
  }
  .menubar-holder .header-link {
    margin-left: 15px;
  }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    --background-color-1: white;
    --background-color-2: white;
    --background-color-3: white;
    --scrollbar-backgroundcolor: white;
    --scrollbar-color-0: #cfcfcf;
    --scrollbar-color-1: #dde2f8;
    --scrollbar-color-2: #cfcfcf;
    --scrollbar-color-hover-1: #6f00c5;
    --scrollbar-color-hover-2: #b213c7;

    --text-color: black;
    --shadow: black;

    --bordered-div-color-border: #cfcfcf;
    --bordered-div-color-1: #dde2f8;
    --bordered-div-color-2: #cfcfcf;

    --important-div-color-border: #b107fc;
    --important-div-color-1: #d196ff;
    --important-div-color-2: #9d40a9;

    --purple-div-background: #999;
    --purple-div-background2: #636363;
    --purple-div-border: #1f26875e;

    --orange-div-border: #f47e77;
    --orange-div-color-1: #ff96b7;
    --orange-div-color-2: #ffb580;

    --primary-button-color-1: #00d0ff;
    --primary-button-color-2: #0074ff;

    --footer-background-1: #dde2f8;
    --footer-background-2: #cfcfcf;
  }
}
