<!-- Header -->
<div class="header bordered-div">
  <div class="menubar-holder">
    <!-- <i class="fi fi-br-menu-burger ico-btn" onclick="openNav()"></i> -->
    <a class="softwaress-logo-holder" href="https://github.com/Software-SS">
      <img
        src="../Assets/SoftwareSS_Rectangle_Transparent.png"
        height="50px"
        class="softwaress-logo"
      />
      <p>SoftwareSS</p>
    </a>
    <a href="https://github.com/Software-SS" class="header-link">Home</a>
    <a href="https://github.com/Software-SS" class="header-link">Products</a>
    <a href="https://github.com/Software-SS" class="header-link">About Us</a>
  </div>
  <!-- <a class="profile-holder" href="">
          <img src="../Assets/Sample-Profile.jpeg" height="45px" />
        </a> -->
</div>
